<html>

<head>
  <title>Haohao Sun</title>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1' name='viewport' />

  <meta name='description'
    content='Haohao Sun is a postdoctoral researcher at the School of Atmospheric Sciences, Nanjing University.'>
  <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
  <meta name='keywords' content='
        data assimilation,
        paleoclimate
        machine learning
    '>
  <meta name='author' content='Haohao Sun'>

  <link rel='shortcut icon' href='/favicon.png?v=e' />
  <link href='/css/blog.css' rel='stylesheet' />
  <link href='/css/trac.css' rel='stylesheet' />
  <link href='/css/markdown.css' rel='stylesheet' />

  <!-- {% include mathjax.html %} -->
</head>

<body>
  <!-- {% include nav.html %} -->
  <div id='blog' class='wrap'>

    <table
      style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table
              style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr style="padding:0px">
                  <td style="padding:0%;width:65%;vertical-align:middle">
                    <p style="text-align:center">
                    <h2>Haohao Sun</h2>
                    </p>
                    <!-- bio -->
                    <p>I recently started as a postdoctoral researcher at the <a
                        href="https://as.nju.edu.cn/as_en/main.htm">School of Atmospheric Sciences</a>, <a
                        href="https://www.nju.edu.cn/en/">Nanjing University</a>. My research interests lie in climate
                      field reconstruction, multiscale data
                      assimilation, and the integration of artificial intelligence with data assimilation. My current
                      research
                      focuses on reconstruction of the Last Millennium and the Holocene to improve our understanding of
                      climate variability and dynamics across multiple timescales.
                    </p>
                    <p>I received my BSc in Atmospheric Science
                      and completed my PhD at Nanjing University in 2026 under the supervision of Dr. <a
                        href="https://as.nju.edu.cn/as_en/00/ff/c20738a327935/page.htm">Lili Lei</a>. My doctoral
                      research developed ensemble-based data assimilation methods for paleoclimate reconstruction.
                    </p>
                    <p> Email me at hhsun@nju.edu.cn. See my <a href='/CV/cv.pdf'>CV</a>.
                    </p>
                    <p style="text-align:center">
                      <!-- <a href="mailto:jonbarron@gmail.com">Email</a> &nbsp/&nbsp -->
                      <!-- <a href="data/JonBarron-CV.pdf">CV</a> &nbsp/&nbsp -->
                      <!-- <a href="data/JonBarron-bio.txt">Bio</a> &nbsp/&nbsp -->

                      <a href='/research.html'>Research</a> &nbsp/&nbsp
                      <a href="https://github.com/hhsunDA/">Code</a>
                    </p>
                  </td>
                  <td style="padding:2.5%;width:30%;max-width:35%">
                    <a href="images/Bio.jpg"><img style="width:100%;max-width:100%" alt="profile photo"
                        src="images/Bio.jpg" class="hoverZoomLink"></a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div id='posts' class='section'>
              <div class='post-row' <p class='post-title'>
                <h3>News</h3>
                </p>

                <p class='post-subtitle'>
                  Invited talking: <a href="https://da2026.cms1924.org/en/web/index/32441_2809408">An Ensemble
                    Kalman Smoother for Online Paleoclimate Data Assimilation</a><br>
                  at ISDA 2026
                  <br>
                  <em>Nanjing, China, 31 Aug-4 Sep</em>, 2026
                </p>

                <p class='post-subtitle'>
                  New publication: <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2025MS005686">Strongly
                    Coupled Data Assimilation for Paleoclimate Reconstruction Using Deep Learning-Based Models</a><br>
                  Lili Lei, <strong>Haohao Sun</strong>, Zhe-Min Tan, Liang Ning, and Zhengyu Liu
                  <br>
                  <em>Journal of Advances in Modeling Earth Systems (JAMES)</em>, 2025
                </p>

              </div>

            </div>
  </div>
</body>

</html>