<html>

<head>
  <title>Haohao Sun</title>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1' name='viewport' />

  <meta name='description' content='Haohao Sun is a PhD candidate at NJU.'>
  <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
  <meta name='keywords' content='
        data assimilation,
        paleoclimate
        machine learning
    '>
  <meta name='author' content='Haohao Sun'>

  <link rel='shortcut icon' href='/favicon.png?v=e' />
  <link href='/css/blog.css' rel='stylesheet' />
  <link href='/css/trac.css' rel='stylesheet' />
  <link href='/css/markdown.css' rel='stylesheet' />

  <!-- {% include mathjax.html %} -->
</head>

<body>
  <!-- {% include nav.html %} -->
  <div id='blog' class='wrap'>

    <table
      style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table
              style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr style="padding:0px">
                  <td style="padding:0%;width:65%;vertical-align:middle">
                    <p style="text-align:center">
                    <h2>Haohao Sun</h2>
                    </p>
                    <!-- bio -->
                    <p>I recently started as a postdoctoral researcher at am at the <a
                        href="https://as.nju.edu.cn/as_en/main.htm">School of Atmospheric Sciences</a>, <a
                        href="https://www.nju.edu.cn/">Nanjing University</a>. I received my BSc in Atmospheric Science
                      and completed my PhD in 2026 under the supervision of Dr. <a
                        href="https://as.nju.edu.cn/as_en/00/ff/c20738a327935/page.htm">Lili Lei</a>. at Nanjing
                      University, where my doctoral research focused on paleoclimate reconstruction using ensemble data
                      assimilation methods. My research interests include climate field reconstruction, multiscale data
                      assimilation, and the integration of artificial intelligence and data assimilation. I am currently
                      working on reconstructions of the Last Millennium and the Holocene to improve our understanding of
                      climate variability and dynamics across timescales.
                    </p>
                    <p> I can be reached out by hhsun@nju.edu.cn.</p>
                    <p style="text-align:center">
                      <!-- <a href="mailto:jonbarron@gmail.com">Email</a> &nbsp/&nbsp -->
                      <!-- <a href="data/JonBarron-CV.pdf">CV</a> &nbsp/&nbsp -->
                      <!-- <a href="data/JonBarron-bio.txt">Bio</a> &nbsp/&nbsp -->
                      <a href='/CV/cv.pdf'>CV</a> &nbsp/&nbsp
                      <a href="https://scholar.google.com/citations?user=2bIph3YAAAAJ&hl=en">Google Scholar</a>
                      &nbsp/&nbsp
                      <!-- <a href="https://twitter.com/zhongrui_wang">Twitter</a> &nbsp/&nbsp -->
                      <a href="https://github.com/hhsunDA/">Github</a>
                    </p>
                  </td>
                  <td style="padding:2.5%;width:30%;max-width:35%">
                    <a href="images/Bio.jpg"><img style="width:100%;max-width:100%" alt="profile photo"
                        src="images/Bio.jpg" class="hoverZoomLink"></a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div id='posts' class='section'>
              <div class='post-row' <p class='post-title'>
                <h3>Publications</h3>
                </p>

                <p class='post-subtitle'>
                  Invited talking: <a href="https://da2026.cms1924.org/en/web/index/32441_2809408">An ensemble
                    Kalman smoother for online paleoclimate data assimilation</a><br>
                  at ISDA 2026
                  <br>
                  <em>Nanjing, China, 31 Aug-4 Sep<em>, 2026
                </p>

                <h3>Publications</h3>
                </p>

                <p class='post-subtitle'>
                  <a href="https://agupubs.onlinelibrary.wiley.com/doi.org/10.1029/2024MS004675">An online paleoclimate
                    data
                    assimilation with a deep learning-based network</a><br>
                  <strong>Haohao Sun</strong>, Lili Lei, Zhengyu Liu, Liang Ning, and Zhe-Min Tan
                  <br>
                  <em>Journal of Advances in Modeling Earth Systems (JAMES)</em>, 2025
                </p>

                <p class='post-subtitle'>
                  <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2022MS003414">A Hybrid Gain Analog
                    Offline EnKF for Paleoclimate Data Assimilation</a><br>
                  <strong>Haohao Sun</strong>, Lili Lei, Zhengyu Liu, Liang Ning, and Zhe-Min Tan
                  <br>
                  <em>Journal of Advances in Modeling Earth Systems (JAMES)</em>, 2024
                </p>

                <p class='post-subtitle'>
                  <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2021MS002674">An Analog Offline EnKF for
                    Paleoclimate Data Assimilation</a><br>
                  <strong>Haohao Sun</strong>, Lili Lei, Zhengyu Liu, Liang Ning, and Zhe-Min Tan
                  <br>
                  <em>Journal of Advances in Modeling Earth Systems (JAMES)</em>, 2022
                </p>

                <p class='post-subtitle'>
                  <a href="https://link.springer.com/article/10.1007/s11430-023-1229-7">The importance of data
                    assimilation components for initial conditions and subsequent error growth</a><br>
                  Zhongrui Wang, <strong style="font-weight: bold;">Haohao Sun</strong>, Lili Lei, and Zhe-Min Tan
                  <br>
                  <em>Science China Earth Sciences</em>, 2023
                </p>

              </div>

            </div>
  </div>
</body>

</html>