---
title: Talks
---

<html>

<head>
    <title>Haohao Sun</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport' />

    <meta name='description'
        content='Haohao Sun is a postdoctoral researcher at the School of Atmospheric Sciences, Nanjing University.'>
    <!-- A decent browser will parse this fine:
             https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
            data assimilation,
            paleoclimate
            machine learning
        '>
    <meta name='author' content='Haohao Sun'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet' />
    <link href='/css/trac.css' rel='stylesheet' />
    <link href='/css/markdown.css' rel='stylesheet' />

    <style>
        .year-head {
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            color: rgba(0, 0, 0, 0.45);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding-bottom: 4px;
            margin-top: 34px;
            margin-bottom: 16px;
        }

        .ttype {
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            color: rgba(0, 0, 0, 0.45);
        }

        .where {
            font-style: italic;
            color: rgba(0, 0, 0, 0.6);
        }
    </style>

    <!-- {% include mathjax.html %} -->
</head>

<body>
    <div class='nav'>
        <ul class='wrap' style="font-size:22px;">
            <li><a href='/'>Home</a></li>
        </ul>
    </div>

    <div id='blog' class='wrap'>
        <div id='posts' class='section'>
            <div class='post-row'>
                <p class='post-title'>
                <h3>Presentations</h3>
                </p>

                <p class='year-head'>2026</p>

                <p class='post-subtitle'>
                    <span class='ttype'>Invited Talk</span> &middot; An ensemble Kalman smoother for paleoclimate reconstruction
                    <a href="/talks/EnKS_ISDA2026.pdf">[<em>slides</em>]</a><br>
                    <a href="https://da2026.cms1924.org/en/web/index/32441">8th WMO Symposium on Data
                        Assimilation &
                        12th International Symposium on Data Assimilation (ISDA 2026)</a> &nbsp;&middot;&nbsp;
                    <span class='where'>Nanjing, China, Aug 31&ndash;Sep 4, 2026</span>
                </p>

                <p class='post-subtitle'>
                    <span class='ttype'>Poster</span> &middot; Integrated hybrid ensemble Kalman smoother (IHEnKS) for online
                    paleoclimate data assimilation <a href="/talks/Smoother_EGU2026.pdf">[<em>poster</em>]</a><br>
                    <a href="https://www.egu26.eu/">EGU General Assembly 2026</a> &nbsp;&middot;&nbsp;
                    <span class='where'>Vienna, Austria, May 3&ndash;8, 2026</span>
                </p>


                <p class='post-subtitle'>
                    <span class='ttype'>Poster</span> &middot;
                        Integrated hybrid ensemble Kalman filter (IHEnKF) for online paleoclimate data assimilation with
                        a deep learning model <a href="/talks/OnlinePDA_AMS106.pdf">[<em>poster</em>]</a><br>
                    <a href="https://annual.ametsoc.org/2026/">106th American Meteorological Society (AMS) Annual
                        Meeting</a> &nbsp;&middot;&nbsp;
                    <span class='where'>Houston, USA, Jan 25&ndash;29, 2026</span>
                </p>

                <p class='year-head'>2025</p>

                <p class='post-subtitle'>
                    <span class='ttype'>Poster</span> &middot;
                        Integrated hybrid ensemble Kalman filter (IHEnKF) for online paleoclimate data assimilation with
                        a deep learning model<br>
                    <a
                        href="https://www.dropbox.com/scl/fo/04d0c2o633su3dhlinbyr/ABAKPShmKNiO62FrXb_PykU?rlkey=pvguw8liy0ns2inqp8cmg2air&st=nxirfp9e&e=1&dl=0/">11th
                        International Symposium on Data Assimilation (ISDA 2025)</a> &nbsp;&middot;&nbsp;
                    <span class='where'>Melbourne, Australia, Sep 29&ndash;Oct 3, 2025</span>
                </p>

                <p class='year-head'>2023</p>

                <p class='post-subtitle'>
                    <span class='ttype'>Poster</span> &middot;
                    Hybrid gain analog offline EnKF (HGAOEnKF) for paleoclimate data assimilation<br>
                    <a href="https://www.agu.org/Fall-Meeting-2023">AGU23 Annual Meeting</a> &nbsp;&middot;&nbsp;
                    <span class='where'>Online, Dec 11&ndash;15, 2023</span>
                </p>

                <p class='year-head'>2022</p>

                <p class='post-subtitle'>
                    <span class='ttype'>Talk</span> &middot;
                    Analog offline EnKF (AOEnKF) for paleoclimate data assimilation<br>
                    <a href="https://annual.ametsoc.org/2022/">102nd American Meteorological Society (AMS) Annual
                        Meeting</a> &nbsp;&middot;&nbsp;
                    <span class='where'>Online, Jan 23&ndash;27, 2022</span>
                </p>
            </div>
        </div>
    </div>

</body>

</html>
