---
title: Talks
---

<html>

<head>
    <title>Haohao Sun</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport' />

    <meta name='description'
        content='Haohao Sun is a postdoctoral researcher at the School of Atmospheric Sciences, Nanjing University.'>
    <!-- A decent browser will parse this fine:
             https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
            data assimilation,
            paleoclimate
            machine learning
        '>
    <meta name='author' content='Haohao Sun'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet' />
    <link href='/css/trac.css' rel='stylesheet' />
    <link href='/css/markdown.css' rel='stylesheet' />

    <!-- {% include mathjax.html %} -->
</head>

<body>
    <div class='nav'>
        <ul class='wrap'>
            <li><a href='/'>Home</a></li>
        </ul>
    </div>

    <div id='blog' class='wrap'>
        <div id='posts' class='section'>
            <div class='post-row'>
                <p class='post-title'>
                <h3>Presentations</h3>
                </p>

                <p class='post-subtitle'>
                    Poster: presenting integraged hybrid ensemble Kalman smoother (IHEnKS) for online paleoclimate data
                    assimilation at <a href="https://www.egu26.eu/">EGU General Assembly 2026</a> <a
                        href="/poster/Smoother_EGU.pdf">[<em>poster</em>]</a> <br>
                    <em> Vienna, Austria, 3-8 May, 2026</em>
                </p>


                <p class='post-subtitle'>
                    Poster: presenting <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2024MS004675">
                        integrated hybrid ensemble Kalman filter (IHEnKF) for online paleclimate data assimilation with
                        a deep learning model</a> at
                    <a href="https://annual.ametsoc.org/2026/">106th American Meteorological Society (AMS) Annual
                        Meeting</a> <a href="/poster/OnlinePDA_AMS106.pdf">[<em>poster</em>]</a><br>
                    <em> Houston, USA, 25-29 Jan, 2026</em>
                </p>

                <p class='post-subtitle'>
                    Poster: presenting <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2024MS004675">
                        integrated hybrid ensemble Kalman filter (IHEnKF) for online paleclimate data assimilation with
                        a deep learning model</a> at
                    <a
                        href="https://www.dropbox.com/scl/fo/04d0c2o633su3dhlinbyr/ABAKPShmKNiO62FrXb_PykU?rlkey=pvguw8liy0ns2inqp8cmg2air&st=nxirfp9e&e=1&dl=0/">11th
                        International Symposium on Data Assimilation (ISDA 2025)</a> <br>
                    <em> Melbourne, Australia, 29 Sep-3 Oct, 2025</em>
                </p>

                <p class='post-subtitle'>
                    Poster: presenting <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2022MS003414">
                        hybrid gain analog offline EnKF (HGAOEnKF) for paleoclimate data assimilation</a> at <a
                        href="https://www.agu.org/Fall-Meeting-2023">American Geophysical Union (AGU) Annual Meeting</a>
                    <br>
                    <em> Online, 11-15 Dec, 2023</em>
                </p>

                <p class='post-subtitle'>
                    Talk: presenting <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2021MS002674"> analog
                        offline EnKF (AOEnKF) for paleclimate data assimilation</a> at <a
                        href="https://annual.ametsoc.org/2022/">102nd American Meteorological Society (AMS) Annual
                        Meeting</a> <br>
                    <em> Online, 23-27 Jan, 2022</em>
                </p>
            </div>
        </div>
    </div>

</body>

</html>